---
layout: layouts/base.njk
title: Contact - White Rabbit Vintage Market
description: Artfully curated vintage items to bring curiousity & intrigue to your home
---

<div class="mx-6 my-6">
  <h2 class="text-3xl">Contact</h2>
  <p class="mt-10">Have a question or looking for something in particular? Reach out using the contact form below.</p>

  <div class="mt-6 max-w-2xl">
    <iframe 
      height="875"
      title="Embedded Wufoo Form"
      allowtransparency="true"
      frameborder="0"
      scrolling="no"
      style="width:100%;border:none"
      sandbox="allow-popups-to-escape-sandbox allow-top-navigation allow-scripts allow-popups allow-forms allow-same-origin"
      src="https://gregjopa.wufoo.com/embed/w1k2cq9h0wi5nc1/">
      <a href="https://gregjopa.wufoo.com/forms/w1k2cq9h0wi5nc1/">Fill out my Wufoo form!</a>
    </iframe>
  </div>
</div>
