---
layout: layouts/base.njk
title: White Rabbit Vintage Market
description: Artfully curated vintage items to bring curiousity & intrigue to your home
---

<img class="custom-hero-image" src="/images/antique-collection1-optimized.jpg" alt="antique collection of glasses and statues">

<section class="custom-bg-roycroft-bottle-green custom-text-pure-white text-center py-10 sm:py-14">
  <h2 class="text-3xl">Vintage curiosities</h2>
  <p class="mt-8 px-2 text-base max-w-sm mx-auto sm:text-xl sm:max-w-3xl">
  Artfully curated vintage items to bring curiousity & intrigue to your home.
  </p>
  <div class="mt-10">
    <a class="custom-bg-pure-white text-stone-950 hover:bg-stone-300 focus:ring-4 focus:ring-blue-300 focus:outline-none text-lg rounded-lg px-5 py-2.5" href="/shop">Shop now</a>
  </div>
</section>

<div class="relative max-w-5xl mx-auto">
  <p class="my-16 text-base text-center max-w-sm mx-auto sm:text-xl sm:max-w-2xl">
    <span class="whitespace-nowrap">Sustainably sourced </span>
    <span class="whitespace-nowrap">&middot; US shipping</span>
    <span class="whitespace-nowrap">&middot; Local pickups</span>
  </p>
</div>
