---
layout: layouts/base.njk
title: Order Complete - White Rabbit Vintage Market
description: Artfully curated vintage items to bring curiousity & intrigue to your home
---

<div class="mx-6 my-6">
  <h2 class="text-3xl">Order Successful</h2>
  <p class="mt-10">Your order has been successfully completed!</p>
</div>
