---
layout: layouts/base.njk
title: Shop - White Rabbit Vintage Market
description: Artfully curated vintage items to bring curiousity & intrigue to your home
---

<div class="mx-6 my-6">
  <h2 class="text-3xl">Shop</h2>
  <p class="mt-10">Coming soon...</p>
</div>
