/* latin */
  @font-face {
  font-family: 'Jacques Francois Shadow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Jacques-Francois-Shadow.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(fonts/Open-Sans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.custom-font-heading {
  font-family: 'Jacques Francois Shadow', serif;
  text-transform: uppercase;
}

.custom-font-body {
  font-family: 'Open Sans', sans-serif;
}

.custom-bg-pure-white {
  background-color: #EBECE6;
}

.custom-text-pure-white {
  color: #EBECE6;
}

.custom-bg-roycroft-bottle-green {
  background-color: #334037;
}

.custom-hero-image {
  width: 100%;
  object-fit: cover;
  object-position: 50% 65%;
}

@media (min-width: 640px) {
  .custom-hero-image {
    height: 512px;
  }
}

.custom-filter-svg-gray {
  filter: invert(10%) sepia(5%) saturate(1179%) hue-rotate(325deg) brightness(95%) contrast(86%);
}

.custom-filter-svg-gray:hover {
  filter: invert(31%) sepia(8%) saturate(445%) hue-rotate(353deg) brightness(94%) contrast(84%);
}

